body {
  margin: 0;
  padding: 0;
  background-color: #010326;
}
canvas {
  display: block;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #000000;
  width: 800px; /* set the width of the canvas */
  height: 600px; /* set the height of the canvas */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
