FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# set this to your mac lan ip when testing on a physical phone
# example: http://192.168.1.42:2567
EXPO_PUBLIC_COLYSEUS_URL=http://localhost:2567
