#instructions {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Press_Start_2p;
    font-size: 18px;
    text-align: center;
    max-width: 80%;
    padding: 20px;
    box-sizing: border-box;
    line-height: 42.5px;
  }
  #how-to {
    color: #EAF205;
    font-size: 35px;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
}

.btn {
    width: 150px;
    margin: 20px;
    all: unset;
    border: 1px white solid;
    font-weight: bold;
    padding: 18px !important;
    width: 300px;
    margin: 17px;
    border-radius: 5px;
    font-size: 28px !important;
    cursor: pointer;
}

span img {
  vertical-align: middle;
  margin-right: 5px;
}

img {
  width: 8.5vw;
  height: 8vh;
}

#play-btn {
  all: unset;
  border: 1px white solid;
  font-weight: bold;
  padding: 15px;
  width: 300px;
  margin: 17px;
  border-radius: 5px;
  font-size: 35px;
  cursor: pointer;
}